
<table>
 <tr>
   <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td>
    <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td>
    <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td>
    <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td>
    <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td>
    <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td>
    <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td>
    <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td>

 </tr>
  <tr>
    <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
  </tr>

   <tr>
    <td>
     <button  class="button">1</button>
    </td>
    <td>
     <button  class="button">2</button>
    </td><td>
     <button  class="button">3</button>
    </td><td>
     <button  class="button">4</button>
    </td><td>
     <button  class="button">5</button>
    </td><td>
     <button  class="button">6</button>
    </td><td>
     <button  class="button">7</button>
    </td><td>
     <button  class="button">8</button>
    </td>
  </tr>
  <tr>
    <td>
    </td>
  </tr>
   <tr>
    <td>
     <button class="button"> 9</button>
    </td>
    <td>
     <button  class="button">10</button>
    </td><td>
     <button  class="button">11</button>
    </td><td>
     <button  class="button">12</button>
    </td><td>
     <button  class="button">13</button>
    </td><td>
     <button  class="button">14</button>
    </td><td>
     <button  class="button">15</button>
    </td><td>
     <button  class="button">16</button>
    </td>
  </tr>


  
  <tr>
    <td>
    
  </td>
  </tr>


  <tr>
    <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
      <td>
<tr>
  <td>
  </td>
  <td>
    <button class="rectangle" [ngClass]="color1"  (click)='setColor(1)'(dblclick)='setColor1(6)'  id="low"></button>
  </td>
</tr>
<tr>
  <td>
    <button class="rectangle"[ngClass]="color2" (click)="setColor(2)" (dblclick)='setColor1(7)' id="low"></button>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color3"(click)="setColor(3)" (dblclick)='setColor1(8)' id="low"></button>
  </td>
    <td>
    <button class="rectangle"[ngClass]="color4" (click)="setColor(4)" (dblclick)='setColor1(9)' id="low"></button>
  </td>
</tr>
<tr>
  <td>
  </td>
    <td>
    <button class="rectangle" [ngClass]="color5" (click)="setColor(5)" (dblclick)='setColor1(10)' id="low"></button>
  </td>
</tr>
    </td>
  </tr>
  <tr>
 <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td> <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td> <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td> <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td> <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td> <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td> <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td> <td>
     <img class="img"
     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRTQj7X7Xmh4JAhB0W9xbqWskJ-Ut7guzoAxw&usqp=CAU">
   </td>
  </tr>
  
</table>